// Import page-specific CSS files here.
@import "home";

#index_card {
  height: 150px;
}

#show_card {
  height: 400px;
  width: 50%
}

.not-visible {
  display: none;
}

a {
  color: white;
  text-decoration: none;

}

h4 {
  color: white;
}

h1 {
  color: white;
}

.li {
  color: black;
  }

body {
  background-color: #073B4C;
}
